<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="MissingLeanbackLauncher">

    <uses-permission android:name="com.google.android.gms.permission.AD_ID" tools:node="remove"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" tools:ignore="ForegroundServicePermission" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-feature android:name="android.software.leanback" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>


    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:anyDensity="true"/>

    <application
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="33"
        android:allowBackup="true"
        android:banner="@drawable/banner_image"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Radio Municipal Zapala"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:usesCleartextTraffic="true"> <activity
        android:name="com.muni.radiomunicipalzapala.MainActivity"
        android:exported="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:launchMode="singleTask"
        android:clearTaskOnLaunch="false">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
        </intent-filter>
    </activity>

        <service
            android:name="com.muni.radiomunicipalzapala.MusicService"
            android:foregroundServiceType="mediaPlayback"
            android:exported="false" />

        <receiver
            android:name="com.muni.radiomunicipalzapala.NotificationActionReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="ACTION_PLAY" />
                <action android:name="ACTION_PAUSE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>